body {
  background: linear-gradient(135deg, #51988b);
  font-family: Arial, sans-serif;
}

.quiz-container {
  width: 400px;
  margin: 70px auto;
  background: rgb(239, 231, 231);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}


h2 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

.question-box p {
  font-size: 18px;
  color: #444;
  font-weight:700;
}

.option {
  margin: 10px 0;
  padding: 8px 10px;
  background-color: #f7f7f7;
  border-radius: 6px;
  transition: 0.3s;
}

.option:hover {
  background-color: #e8f0fe;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  color: rgb(247, 246, 248);
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #43a047;
  transform: scale(1.05);
}

button:disabled {
  background-color: rgb(55, 18, 147);
  cursor: not-allowed;
  transform: none;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;  
  margin-top: 20px;
}


.btn-group button {
  flex: 0;
}

.result-box {
  text-align: center;
}

.result-box h3 {
  color: #333;
}

.result-box p {
  font-size: 18px;
  margin: 15px 0;
}
